@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  background-image: url("../../../../_assets/images/grid-bg.png");
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include RP(("padding-top": 40,
      "padding-bottom": 50,
      // "margin-bottom": 60,
    ));

  .contentWrapper {
    @include RP(("padding-top": 100,
        "padding-bottom": 50,
        "margin-top": 20,
      ));

    .imgContainer {
      @include RP(("height": 533,
          "width": 583,
        ), 1);

      @media screen and (max-width: 576px) {
        width: 100% !important;
      }

      @media screen and (max-width: 425px) {
        max-height: 350px !important;
      }

      img {
        @include RP(("height": 640px,
            "width": 583), 1);
        overflow-y: visible;

        @media screen and (max-width: 576px) {
          right: -8% !important;
        }

        @media screen and (max-width: 425px) {
          right: -12% !important;
          width: 100% !important;
          min-height: 425px !important;
        }
      }

      .title {
        position: absolute;
        text-wrap: nowrap !important;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3%;
        text-transform: uppercase;
        color: $PRIMARY;
        // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2) !important;
      }

    }
  }
}