@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.whatsappButton {
  position: fixed;
  bottom: 65px;
  right: 20px;
  width: 36px;
  height: 36px;
  background: #25D366;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  transition: all 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(75, 190, 96, 0.556);

  @media screen and (max-width: 640px) {
    right: 10px;
    bottom: 10px;
    width: 36px;
    height: 36px;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(75, 190, 96, 0.6), 0 0 40px rgba(75, 190, 96, 0.8), ;
  }

  &.visible {
    visibility: visible;
  }
}