@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.modalContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: calc(100vh - 60px);
  background: #000;

  video,
  img {
    height: calc(100vh - 60px);
    max-height: 100vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }
}