@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  width: 100%;
  @include RP(("padding-bottom": 50,
      "margin-top": 50,
    ));
  z-index: -1 !important;


  .customContainer {
    @include RP(("padding-left": 100,
        "padding-right": 100,
      ), 1);

    @media screen and (max-width: 510px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .contentWrapper {
      @include RP(("padding-top": 30,
          "padding-bottom": 30,
        ));

      @media screen and (max-width: 510px) {
        @include RP(("padding-top": 30,
            "padding-bottom": 30,
          ));
      }
    }
  }
}