/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/(pages)/collections/lookbook/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_h100__BfQDe {
  height: 100%;
}

.style_containerPadding__0BQVw {
  padding: 0 44px;
  text-align: left;
  padding-top: 24px;
}
@media screen and (max-width: 576px) {
  .style_containerPadding__0BQVw {
    padding: 0 14px;
    padding-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .style_containerPadding__0BQVw {
    padding: 0 14px;
    padding-top: 20px;
  }
}

.style_listContainerStyle__jYHG7 {
  width: 100%;
  height: calc(100vh - 86px);
  position: relative;
  overflow: scroll;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
}
.style_listContainerStyle__jYHG7::-webkit-scrollbar {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 640px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 768px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 992px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 1200px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 72px);
  }
}
@media screen and (min-width: 1400px) {
  .style_listContainerStyle__jYHG7 {
    width: 100%;
    height: calc(100vh - 84px);
  }
}
.style_customContainer__9nxsV {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .style_customContainer__9nxsV {
    max-width: 95%;
  }
}
@media screen and (min-width: 640px) {
  .style_customContainer__9nxsV {
    max-width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .style_customContainer__9nxsV {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .style_customContainer__9nxsV {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .style_customContainer__9nxsV {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .style_customContainer__9nxsV {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1800px) {
  .style_customContainer__9nxsV {
    max-width: 75%;
  }
}
.style_pageWrapper__E0xeO {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .style_pageWrapper__E0xeO {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 640px) {
  .style_pageWrapper__E0xeO {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 768px) {
  .style_pageWrapper__E0xeO {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 992px) {
  .style_pageWrapper__E0xeO {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 1200px) {
  .style_pageWrapper__E0xeO {
    padding-top: 34.2857142857px;
    padding-bottom: 42.8571428571px;
  }
}
@media screen and (min-width: 1400px) {
  .style_pageWrapper__E0xeO {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 640px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 768px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 992px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 28.3428571429px;
    padding-bottom: 35.4285714286px;
  }
}
@media screen and (min-width: 1200px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 34.2857142857px;
    padding-bottom: 42.8571428571px;
  }
}
@media screen and (min-width: 1400px) {
  .style_pageWrapper__E0xeO .style_contentWrapper__S02g4 {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.style_pageWrapper__E0xeO .style_contentWrapper__S02g4 .style_desc__p3EQs {
  color: #1e1e1e !important;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./app/_shared/components/collections/heroSection/style.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_h100__TH6i1 {
  height: 100%;
}

.style_containerPadding__GIEKI {
  padding: 0 44px;
  text-align: left;
  padding-top: 24px;
}
@media screen and (max-width: 576px) {
  .style_containerPadding__GIEKI {
    padding: 0 14px;
    padding-top: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .style_containerPadding__GIEKI {
    padding: 0 14px;
    padding-top: 20px;
  }
}

.style_listContainerStyle___x5QS {
  width: 100%;
  height: calc(100vh - 86px);
  position: relative;
  overflow: scroll;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
}
.style_listContainerStyle___x5QS::-webkit-scrollbar {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 640px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 768px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 992px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 59.52px);
  }
}
@media screen and (min-width: 1200px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 72px);
  }
}
@media screen and (min-width: 1400px) {
  .style_listContainerStyle___x5QS {
    width: 100%;
    height: calc(100vh - 84px);
  }
}
.style_customContainer__BKso1 {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .style_customContainer__BKso1 {
    max-width: 95%;
  }
}
@media screen and (min-width: 640px) {
  .style_customContainer__BKso1 {
    max-width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .style_customContainer__BKso1 {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .style_customContainer__BKso1 {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .style_customContainer__BKso1 {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .style_customContainer__BKso1 {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1800px) {
  .style_customContainer__BKso1 {
    max-width: 75%;
  }
}
.style_heroSection__kENeR {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-position: top center !important;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(134, 97, 70, 0.5725490196);
}
@media screen and (max-width: 640px) {
  .style_heroSection__kENeR {
    height: 283.4285714286px !important;
  }
}
@media screen and (min-width: 640px) {
  .style_heroSection__kENeR {
    height: 283.4285714286px !important;
  }
}
@media screen and (min-width: 768px) {
  .style_heroSection__kENeR {
    height: 283.4285714286px !important;
  }
}
@media screen and (min-width: 992px) {
  .style_heroSection__kENeR {
    height: 283.4285714286px !important;
  }
}
@media screen and (min-width: 1200px) {
  .style_heroSection__kENeR {
    height: 342.8571428571px !important;
  }
}
@media screen and (min-width: 1400px) {
  .style_heroSection__kENeR {
    height: 400px !important;
  }
}
