@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.header {
  background: $PRIMARY;
  @include RP(("border-top-left-radius": 10,
      "border-top-right-radius": 10,
      "height": 60,
    ),
    1);

  .title {
    font-weight: 600;
    color: $WHITE;
    @include RP(("font-size": 18,
      ), 1);
  }

  label {
    @include MRP(("font-size": 18,
        "line-height": 21,
      ));
  }

  svg {
    path {
      stroke: $BLUE;
    }

    @include MRP(("height": 24,
        "width": 24,
      ));

    &:hover {
      cursor: pointer;
    }
  }

  .crossContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    border: 2px solid $WHITE;
    cursor: pointer;
    @include MRP(("height": 36,
        "width": 36,
      ));

    svg {
      @include MRP(("height": 18,
          "width": 18,
        ));

      path {
        stroke: $WHITE;
        fill: $WHITE;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .backArrowContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
    cursor: pointer;
    @include MRP(("height": 30,
        "width": 30,
      ));

    svg {
      @include MRP(("height": 15,
          "width": 15,
        ));

      path {
        stroke: #303030 !important;
        fill: #303030 !important;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}