@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionHeading {
  .title {
    font-weight: 600;
    position: relative;
    @include RP(("font-size": 32,
        "line-height": 38,
      ), 1);

    @media screen and (max-width: 510px) {
      text-align: center !important;
    }

    .lineX {
      position: absolute;
      // width: fit-content;
      width: 100%;
      // max-width: fit-content;
      top: -15px;
      left: 0;
      right: 0;
    }
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}