@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;

  @media screen and (max-width: 640px) {
    right: 10px;
    bottom: 10px;
  }

  background: WHITE;
  color: $SECONDARY;
  border: none;
  // border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease,
  transform 0.3s ease;
  box-shadow: 0 0 15px rgba(134, 97, 70, 0.5),
  0 0 30px rgba(144, 40, 128, 0.4);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(134, 97, 70, 0.6), 0 0 40px rgba(134, 97, 70, 0.8), ;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}