@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionWrapper {

  @include RP(("padding-top": 80,
      "padding-bottom": 80,
    ), 1);
  position: relative;

  h2 {
    @include RP(("font-size": 50,
      ), 1);

    @media screen and (max-width: 640px) {
      @include RP(("font-size": 22,
          "line-height": 26,
        ), 1);
    }
  }

  .contentContainer {

    .imgContainer {
      img {
        position: absolute;
        right: 0;
        top: 30%;

        @media screen and (min-width: 1800px) {
          width: 800px !important;
          top: 10%;
        }

        @media screen and (min-width: 2000px) {
          width: 800px !important;
          top: 10%;
        }

        @media screen and (min-width: 2200px) {
          width: 900px !important;
          top: 0;
        }

        @media screen and (max-width: 1200px) {
          top: 15%;
        }

        @media screen and (max-width: 767px) {
          bottom: 0 !important;
        }
      }
    }

    .content {
      h3 {
        color: $PRIMARY;
        text-transform: capitalize !important;
        @include RP(("font-size": 24,
          ), 1);
      }

      p {
        margin-bottom: 10px;
        text-align: left !important;

        @media screen and (max-width: 992px) {
          max-width: 100%;
        }
      }

      .bulletContainer {
        @include RP(("width": 56,
            "height": 56,
          ), 1);
        background: $PRIMARY !important;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          @include RP(("width": 30,
              "height": 30,
            ), 1);
        }
      }
    }
  }
}