@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.selectWrapper {
  border: 1px solid #FFFFFF99;
  background-color: transparent;
  border-radius: 6px;
  @include RP(("height": 40,
    ));

  .inputLabel {
    font-weight: 500;
    @include RP(("font-size": 16,
        "line-height": 21,
        "padding-left": 24,
        "padding-right": 14,
        "padding-top": 12,
        "padding-bottom": 12,
      ));
    color: $PRIMARY;
    text-align: center;

    .asterik {
      color: $RED !important;
    }
  }

  .sortContainer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 50px;
    position: relative;
    width: 100%;

    @include RP(("height": 49,
      ));

    .activeItem {
      color: $PRIMARY !important;
      @include RP(("font-size": 14,
        ));
    }

    // svg {
    //   path {
    //     stroke: $PRIMARY !important;
    //   }
    // }
  }

  .sortLabel {
    color: $LIGHT_GRAY2 !important;
    @include RP(("font-size": 14,
      ));
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 50px;

    .triggerIcon {
      svg {
        path {
          stroke: #aeaeb2 !important;
        }
      }
    }

    .chevDownFilled {
      svg {
        path {
          stroke: #b2aeae !important;
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    // transform: translateX(-50%);
    background-color: $DARK;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    width: 100%;
    z-index: 10;
    min-width: fit-content !important;

    // @media (max-width: 1200px) {
    //   left: auto;
    //   right: 0;
    //   transform: translateX(-20%);
    // }
  }

  .optionItem {
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid #f5f6f68e;
    text-wrap: nowrap;
    @include RP(("font-size": 14,
      ), 1);
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      // background-color: $LIGHT_BLUE;

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  .active {
    background: $PRIMARY;

    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  img {
    height: 8px !important;
    @include RP(("width": 15,
      ), 1);
  }
}