@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  @include RP(("padding-top": 40,
      "padding-bottom": 50,
    ));

  .contentWrapper {
    @include RP(("padding-top": 40,
        "padding-bottom": 50,
      ));

    .teamItem {
      position: relative;

      @media screen and (max-width: 640px) {
        @include RP(("margin-bottom": 55,
          ));
      }

      .imgContainer {
        border-radius: 6px;

        img {
          border-radius: 6px;
        }
      }

      .title {
        position: absolute;
        bottom: -30px !important;
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
        background: $PRIMARY;
        border-radius: 6px;
        padding: 10px;
        @include RP(("height": 64,
          ));

        @media screen and (max-width: 1200px) {
          bottom: -24px !important;
        }
      }



      // @media screen and (max-width: 640px) {
      //   bottom: -10px !important;
      // }

      h5 {
        font-weight: 600;
        text-transform: uppercase;
        @include RP(("font-size": 20,
          ));
      }
    }

  }
}