@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.header {
  // background-color: $PRIMARY_LIGHT !important;
  // height: 80px;
  // @include RP(("height": 400,
  //   ), 1);
  // background-image: url("/bg-5.jpg");
  // width: 100%;

  // background-size: cover;
  // background-repeat: no-repeat;
}

.cardContainer {
  @include RP(("margin-top": 60,
    ), 1);

  @media (min-width: 640px) {
    margin-top: 80px;
  }

  @media (min-width: 1024px) {
    margin-top: 100px;
  }

  .imageContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px !important;

    @media (min-width: 640px) {
      width: 100%;
    }

    img {
      border-radius: 10px !important;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  p {
    color: $SECONDARY !important;
  }
}

.customContainer {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}