@import "utils/responsive.module.scss";
@import "utils/colors.scss";

.sectionContainer {
  background-image: url("../../../../_assets/images/target-bg-layer-1.png");
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99 !important;
  overflow: hidden;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #111111F2;
    backdrop-filter: blur(100px);
    margin: auto 0;
  }

  @include RP(("padding-top": 40,
      "margin-top": 50,
      "margin-bottom": 100,
    ), 1);

  .contentWrapper {
    @include RP(("padding-top": 30,
        "padding-bottom": 50,
      ));

    .gridContainer {
      position: relative;
      @include RP(("padding-top": 40,
        ));

      h2,
      p {
        z-index: 99 !important;
        background-color: #191214 !important;
      }

      .rocketContainer {
        position: relative;

        img {
          @include RP(("width": 400,
              "height": 400,
            ));
        }
      }

      .rocket {
        animation: rocketAnimation 2s ease-in-out infinite;
      }

      .rocket.launch {
        animation: rocketLaunch 2s ease-in forwards;
      }

    }
  }
}

// Floating animation (idle movement)
@keyframes rocketAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(5px);
  }
}

// Launch animation (move up and disappear behind the background)
@keyframes rocketLaunch {
  0% {
    transform: translateY(0);
    opacity: 1;
    z-index: 90;
  }

  90% {
    transform: translateY(-100%);
    opacity: 0.5;
    z-index: 90;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0; // Gradually disappears
    z-index: 89; // Moves behind the section
  }
}